<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN" lang="EN" dir="ltr">
<body id="top">

<!-- ####################################################################################################### -->
<div id="footer">
 <div id="copyright">
  <div class="wrapper">
    <p class="fl_left">Copyright &copy; 2011 - All Rights Reserved</p>
    <p class="fl_right">www.univgiggle.com<a href="http://www.os-templates.com/" title="Open Source Templates"></a></p>
    <br class="clear" />
  </div>
</div>
</body>
</html>
