/* CSS file */
Alert
	{
		color : #0f3177;
		title-style-name : "alertTitle";
		header-height:19;
		drop-shadow-enabled: false;
		drop-shadow-color :#d1ddf7;
		background-color: #ffffff;
		corner-radius :6;
		border-style :solid;
		header-colors : #90a4d1, #5970a0;
		footer-colors : #9db6d9, #ffffff;
		border-color : #5970a0;
	}
	
.alertTitle{
		font-family :Verdana;
		font-size :10;
		font-weight :bold;
		text-align :left;
		color :#ffffff;
	}
	

.storeButtonBar
{
    cornerRadius:           0;
    buttonStyleName:        "storeButton";
    themeColor:             #456F84;
}

.storeButton
{
    cornerRadius:           0;
    fillColors:             #4A6F81, #BDD6E2, #456F84, #9ABBC9;
    fillAlphas:             1, 1;
    highlightAlphas:        .5, .25;
    fontWeight:             "normal";
    selectedOverSkin:       ClassReference("samples.flexstore.ButtonBarButtonSkin");
    selectedUpSkin:         ClassReference("samples.flexstore.ButtonBarButtonSkin");
    overSkin:               ClassReference("samples.flexstore.ButtonBarButtonSkin");
}

.catalogTitleButtonSelected
{
    color:                  #FFFFFF;
    fontWeight:             "bold";
}

.fontHighlight
{
	font-weight : bold;
}

.fntColor
{
	color : #4A6F81;
}

Button.CommonBtn
{
	upSkin: Embed(source="../assets/TopTab01_Dwn.jpg");
	overSkin: Embed(source="../assets/TopTab01_Dwn.jpg");
	downSkin: Embed(source="../assets/TopTab01_Sel.jpg");
	disabledSkin: Embed(source="../assets/TopTab01_Dis.jpg");
	selected-down-skin:Embed(source='../assets/TopTab01_Sel.jpg');
	selected-over-skin:Embed(source='../assets/TopTab01_Sel.jpg');
	selected-up-skin:Embed(source='../assets/TopTab01_Sel.jpg');
	
}

MenuBar {
    cornerRadius: 8;
   letterSpacing: 0;
   backgroundAlpha: 1;
   backgroundColor: #e294e9;
   borderColor: #6ba0d6;
   highlightAlphas: 0.12, 0.36;
   fillAlphas: 0.76, 0.78;
   fillColors: #f29ee2, #f5baf4;
   rollOverColor: #c650c9;
   selectionColor: #d577d7;
   color: #090d0e;
   textRollOverColor: #102126;
   disabledColor: #aab3b3;
   fontWeight: bold;
   textAlign: left;
   textIndent: 1;
}