<html>
<body>
<h3>Hi ${mentee.firstName} ${mentee.lastName} , welcome to the UnivGiggle!</h3>

<div>
   You have registered yourself as a mentee in UnivGiggle. To confirm & activate your mentee profile please click the following link.
   <a href="http://localhost:8080/univgiggle/MailConfirmServlet?key=Mentee&id=${mentee.id}">http://localhost:8080/univgiggle/MailConfirmServlet?key=Mentee&id=${mentee.id}</a>.
</div>
</body>

</html>