#breadcrumb {
	display: block;
	margin: 0 auto 0;
	width: 960px
}

#breadcrumb .wrapper {
	border-bottom: 1px solid #CCCCCC;
	padding: 15px 10px
}

#breadcrumb a {
	background-color: #FFFFFF;
	color: #059BD8
}

#breadcrumb ul {
	list-style: none;
	margin: 0;
	padding: 0
}

#breadcrumb ul li {
	display: inline
}

#breadcrumb ul li.current a {
	text-decoration: underline
}

#column {
	display: block;
	float: right;
	width: 300px
}

#column #featured {
	display: block;
	margin-bottom: 20px;
	width: 300px
}

#column #featured a {
	background-color: #F9F9F9;
	color: #059BD8
}

#column #featured h2 {
	list-style: none;
	margin: 0;
	padding: 0
}

#column #featured li {
	background-color: #F9F9F9;
	color: #666666;
	display: block;
	margin: 0;
	padding: 20px 25px;
	width: 250px
}

#column #featured li h2 {
	border-bottom: 1px dashed #666666;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-weight: normal;
	line-height: normal;
	margin: 0;
	padding: 0 0 14px 0
}

#column #featured li p.imgholder {
	border: 1px solid #CCCCCC;
	display: block;
	height: 90px;
	margin: 20px 0 15px 0;
	padding: 4px;
	width: 240px
}

#column #featured p {
	list-style: none;
	margin: 0;
	padding: 0
}

#column #featured p.readmore {
	display: block;
	font-weight: bold;
	line-height: normal;
	margin-top: 15px;
	text-align: right;
	width: 100%
}

#column #featured ul {
	list-style: none;
	margin: 0;
	padding: 0
}

#column #latestnews {
	display: block;
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%
}

#column #latestnews .imgl {
	margin: 0 10px 10px 0;
	padding: 4px
}

#column #latestnews li {
	border-bottom: 1px dotted #DDDDDD;
	display: block;
	margin: 0 0 20px 0;
	padding: 0 0 15px 0
}

#column #latestnews li.last {
	margin-bottom: 0
}

#column #latestnews p {
	line-height: normal;
	margin: 0;
	padding: 0
}

#column .holder {
	display: block;
	margin-bottom: 20px;
	width: 300px
}

#column .holder h2.title {
	border-bottom: 1px dashed #666666;
	display: block;
	font-size: 20px;
	height: 65px;
	line-height: normal;
	margin: 0;
	padding: 15px 0 0 0;
	width: 100%
}

#column .holder h2.title img {
	border: 1px solid #666666;
	float: left;
	margin: -15px 8px 0 0;
	padding: 5px
}

#column .holder p.readmore {
	display: block;
	font-weight: bold;
	line-height: normal;
	text-align: right;
	width: 100%
}

#column div.imgholder {
	background-color: #FFFFFF;
	border: 1px solid #CCCCCC;
	color: #666666;
	display: block;
	margin: 0 0 10px 0;
	padding: 4px;
	width: 290px
}

#comments {
	margin-bottom: 40px
}

#comments .commentlist {
	margin: 0;
	padding: 0
}

#comments .commentlist .author .name {
	font-weight: bold
}

#comments .commentlist .submitdate {
	font-size: smaller
}

#comments .commentlist li .avatar {
	border: 1px solid #EEEEEE;
	float: right;
	margin: 0 0 0 10px
}

#comments .commentlist li.comment_even {
	background-color: #E8E8E8;
	color: #666666;
	list-style: none;
	margin: 0 0 10px 0;
	padding: 15px
}

#comments .commentlist li.comment_even a {
	background-color: #E8E8E8;
	color: #059BD8
}

#comments .commentlist li.comment_odd {
	background-color: #FFFFFF;
	color: #666666;
	list-style: none;
	margin: 0 0 10px 0;
	padding: 15px
}

#comments .commentlist li.comment_odd a {
	background-color: #FFFFFF;
	color: #059BD8
}

#comments .commentlist p {
	font-weight: normal;
	margin: 10px 5px 10px 0;
	padding: 0;
	text-transform: none
}

#comments .commentlist ul {
	list-style: none;
	margin: 0;
	padding: 0
}

#container {
	display: block;
	margin: 0 auto 0;
	width: 960px
}

#container .wrapper {
	background-color: #F5F5F5;
	color: #666666;
	line-height: 1.4em;
	padding: 20px 10px
}

#container a {
	background-color: #F5F5F5;
	color: #059BD8
}

#container h1 {
	border-bottom: 1px dotted #CCCCCC;
	padding-bottom: 8px
}

#container h2 {
	border-bottom: 1px dotted #CCCCCC;
	padding-bottom: 8px
}

#container h3 {
	border-bottom: 1px dotted #CCCCCC;
	padding-bottom: 8px
}

#container h4 {
	border-bottom: 1px dotted #CCCCCC;
	padding-bottom: 8px
}

#container h5 {
	border-bottom: 1px dotted #CCCCCC;
	padding-bottom: 8px
}

#container h6 {
	border-bottom: 1px dotted #CCCCCC;
	padding-bottom: 8px
}

#content {
	display: block;
	float: left;
	width: 580px
}

#copyright {
	display: block;
	margin: 0 auto 0;
	width: 960px
}

#copyright .wrapper {
	background-color: #3D3D3D;
	border: none;
	color: #FFFFFF;
	padding: 10px 20px
}

#copyright a {
	background-color: #3D3D3D;
	color: #FFFFFF
}

#copyright p {
	margin: 0;
	padding: 0
}

#featured_slide {
	display: block;
	margin: 0 auto 0;
	width: 960px
}

#footer {
	display: block;
	margin: 0 auto 0;
	width: 960px
}

#footer .footbox {
	display: block;
	float: right;
	margin: 0 0 0 60px;
	padding: 0;
	width: 170px
}

#footer .last {
	margin: 0
}

#footer .new {
	float: left
}

#footer .wrapper {
	background-color: #2F2F2F;
	border: none;
	color: #98989A;
	padding: 20px
}

#footer a {
	background-color: #2F2F2F;
	color: #059BD8;
	font-weight: normal;
	line-height: normal;
	list-style: none;
	margin: 0;
	padding: 0
}

#footer a:link {
	color: #7db223
}

#footer h2 {
	border-bottom: 1px dotted #999999;
	padding-bottom: 8px
}

#footer li {
	margin-bottom: 3px
}

#footer p {
	font-weight: normal;
	line-height: normal;
	list-style: none;
	margin: 0;
	padding: 0
}

#footer ul {
	font-weight: normal;
	line-height: normal;
	list-style: none;
	margin: 0;
	padding: 0
}

#header {
	display: block;
	margin: 0 auto 0;
	width: 960px
}

#header .fl_left {
	display: block;
	float: left;
	margin: 0 0 0 0;
	width: 175px
}

#header .fl_right {
	display: block;
	float: right
}

#header .wrapper {
	border-top: 10px solid #DFDFDF
}

#header h1 {
	border: none;
	font-size: 36px;
	margin: 0;
	padding: 0
}

#header h1 a {
	background-color: #FFFFFF;
	color: #059BD8
}

#header p {
	margin: 0;
	padding: 0
}

#homecontent {
	display: block;
	margin: 0 auto 0;
	width: 960px
}

#homecontent .wrapper {
	padding: 25px 10px
}

#homecontent a {
	background-color: #FFFFFF;
	color: #059BD8
}

#homecontent li {
	display: block;
	float: left;
	margin: 0 25px 0 0;
	padding: 0;
	width: 290px
}

#homecontent li h2.title {
	background-color: #FFFFFF;
	border-bottom: 1px dashed #CCCCCC;
	color: #666666;
	display: block;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 20px;
	font-weight: normal;
	height: 65px;
	line-height: normal;
	margin: 0;
	padding: 15px 0 8px 0;
	width: 100%
}

#homecontent li h2.title img {
	background-color: #F7F7F7;
	border: 1px solid #CCCCCC;
	color: #666666;
	float: left;
	margin: -15px 8px 0 0;
	padding: 5px
}

#homecontent li.last {
	margin-right: 0
}

#homecontent p.readmore {
	display: block;
	font-weight: bold;
	line-height: normal;
	margin: 0;
	padding: 0;
	text-align: right;
	width: 100%
}

#homecontent ul {
	display: inline;
	list-style: none;
	margin: 0;
	padding: 0
}

#main {
	display: box;
	overflow: hidden
}

#menu {
	background: #eee;
	float: left;
	left: 0px;
	margin-right: 15px;
	position: relative;
	width: 220px
}

#menu a {
	background: #efefef;
	color: #666666;
	display: block;
	margin: 0;
	padding: 2px 12px;
	text-decoration: none
}

#menu a:hover {
	background: #fff;
	color: #059BD8
}

#menu h2 {
	background: #059BD8;
	color: #fff;
	display: block;
	font-size: 12px;
	font-weight: bold;
	margin: 0;
	padding: 2px 6px;
	text-transform: uppercase
}

#menu ul {
	list-style: none;
	margin: 0;
	padding: 0
}

#menu ul li {
	padding: 0px
}

#newsletter {
	display: block;
	float: left;
	width: 200px
}

#topbar {
	display: block;
	margin: 0 auto 0;
	width: 960px
}

#topbar #search {
	background-color: #000000;
	border-left: 1px dotted #666666;
	color: #FFFFFF;
	display: block;
	float: right;
	height: 34px;
	margin: 0;
	overflow: hidden;
	padding: 10px 0 0 8px;
	width: 251px
}

#topbar .wrapper {
	padding: 0 10px
}

#wrapper {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 960px;
	min-width: 960px;
	overflow: hidden;
	width: expression(document.body.clientWidth > 800? "960px": "auto" )
}

.bold {
	font-weight: bold
}

.center {
	text-align: center
}

.clear {
	clear: both
}

.dijitarrowbutton {
	height: 20px
}

.dijittextarea {
	max-height: 22em !important;
	max-width: 175px;
	min-height: 5.5em !important;
	overflow-y: auto !important
}

.errors {
	color: red;
	display: block;
	font-weight: bold;
	margin-left: 105px
}

.fl_left {
	float: left
}

.fl_right {
	float: right
}

.flag {
	height: 11px;
	width: 16px
}

.imgl {
	background-color: #FFFFFF;
	border: 1px solid #DFDFDF;
	clear: left;
	color: #666666;
	float: left;
	margin: 0 8px 8px 0;
	padding: 5px
}

.imgr {
	background-color: #FFFFFF;
	border: 1px solid #DFDFDF;
	clear: right;
	color: #666666;
	float: right;
	margin: 0 0 8px 8px;
	padding: 5px
}

.justify {
	text-align: justify
}

.nostart {
	list-style-type: none;
	margin: 0;
	padding: 0
}

.quicklinks {
	clear: both;
	padding-bottom: 15px
}

.quicklinks span {
	float: right
}

.richtexteditable {
	max-height: 18em !important;
	min-height: 18em !important
}

.right {
	text-align: right
}

.submit input {
	border: 1px solid #BBBBBB;
	color: #777777;
	font-size: 11px;
	font-weight: bold;
	height: 24px;
	padding: 2px 7px;
	text-transform: uppercase
}

.table-buttons {
	background-color: #fff;
	border: none
}

.table-buttons td {
	border: none
}

.updated {
	background: #ecf1e5;
	border: 4px solid #ecf1e5;
	font-size: 11px;
	margin-left: 2px
}

.updated td {
	color: #888888;
	font-size: 11px;
	padding: 2px 8px
}

.utilbox {
	width: 18px
}

.wrapper {
	background-color: #FFFFFF;
	border-left: 10px solid #DFDFDF;
	border-right: 10px solid #DFDFDF;
	color: #666666;
	display: block;
	padding: 15px 10px;
	width: 920px
}

@import url(navi.css); @import url(forms.css); @import url(tables.css); @import url(featured_slide.css); body {
	background-color: #999999;
	color: #FFFFFF;
	font-family: verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	margin: 0;
	padding: 10px 0 0 0
}

a {
	outline: none;
	text-decoration: none
}

a img {
	border: 0 none;
	vertical-align: middle
}

a.menu {
	display: block;
	height: 25px;
	width: 150px
}

a.menu:link {
	display: block;
	height: 25px;
	width: 150px
}

a.menu:visited {
	display: block;
	height: 25px;
	width: 150px
}

a:active {
	color: #7db223
}

a:hover {
	color: #456314
}

a:link {
	color: #7db223
}

a:visited {
	color: #7db223
}

body {
	background-color: #fff;
	color: #666;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-align: center
}

br.clear {
	clear: both;
	margin-top: -15px
}

caption {
	caption-side: top;
	color: #848f73;
	font-size: 12px;
	padding-bottom: 4px;
	text-align: left;
	width: auto
}

div {
	color: #666;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-align: left
}

div .box {
	display: block;
	margin-left: 105px
}

fieldset {
	background: #e0e7d3;
	border: none;
	padding: 8px;
	padding-bottom: 22px;
	width: 560px
}

fieldset input {
	background: #e0e7d3;
	height: 20px;
	margin: 3px
}

fieldset label {
	float: left;
	margin-left: 20px;
	margin-top: 1.7em;
	width: 70px
}

fieldset table {
	width: 100%
}

fieldset textarea {
	background: #e0e7d3;
	height: 165px;
	margin: 3px
}

fieldset textfield {
	background: #e0e7d3;
	height: 20px;
	margin: 3px
}

fieldset th {
	padding-left: 25px
}

h1 {
	border-bottom: 1px dotted #DDDDDD;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 20px;
	font-weight: normal;
	margin: 0 0 20px 0;
	padding: 0 0 8px 0
}

h2 {
	border-bottom: 1px dotted #DDDDDD;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 20px;
	font-weight: normal;
	margin: 0 0 20px 0;
	padding: 0 0 8px 0
}

h3 {
	border-bottom: 1px dotted #DDDDDD;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 20px;
	font-weight: normal;
	margin: 0 0 20px 0;
	padding: 0 0 8px 0
}

h4 {
	border-bottom: 1px dotted #DDDDDD;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 20px;
	font-weight: normal;
	margin: 0 0 20px 0;
	padding: 0 0 8px 0
}

h5 {
	border-bottom: 1px dotted #DDDDDD;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 20px;
	font-weight: normal;
	margin: 0 0 20px 0;
	padding: 0 0 8px 0
}

h6 {
	border-bottom: 1px dotted #DDDDDD;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 20px;
	font-weight: normal;
	margin: 0 0 20px 0;
	padding: 0 0 8px 0
}

img {
	border: 0;
	display: block;
	margin: 0;
	padding: 0
}

input {
	border: 1px solid #B3B3B3;
	height: 20px
}

input.btn {
	background-color: #059BD8;
	border: 1px solid;
	border-color: #696 #363 #363 #696;
	color: #FFFFFF;
	filter: progid:DXImageTransform.Microsoft.Gradient (GradientType=0,StartColorStr='#ffffffff',EndColorStr='#ffeeddaa');
	font: bold 84% 'trebuchet ms',helvetica,sans-serif
}

input.image {
	border: none;
	height: auto;
	vertical-align: middle
}

label {
	float: left;
	margin-left: 5px;
	margin-top: 0px;
	width: 100px
}

li {
	padding-top: 5px;
	text-align: left
}

select {
	border: 1px solid #B3B3B3
}

submit {
	height: 25px
}

table {
	background: #EEEEEE;
	border: 1px solid #BBBBBB;
	border-collapse: collapse;
	margin: 2px 0 0 0;
	width: 100%
}

table a:link {
	color: #303030
}

table table {
	border: 0px solid #e0e7d3;
	margin: -5px 0;
	width: 100%
}

table tbody td {
	border-collapse: collapse;
	border-left: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
	padding: 5px;
	vertical-align: top
}

table tbody tr.dark {
	background-color: #E8E8E8;
	color: #666666
}

table tbody tr.light {
	background-color: #F7F7F7;
	color: #666666
}

table td {
	border: 1px solid #CCCCCC;
	padding: 2px
}

table td form {
	margin: 0px;
	text-align: center;
	vertical-align: middle
}

table th {
	background: #999;
	border: 1px solid #CCCCCC;
	color: #FFF;
	font-size: 0.9em;
	font-weight: bold;
	padding: 2px;
	text-align: left
}

table thead {
	background-color: #BBBBBB;
	font-style: italic;
	font-weight: bold
}

table thead th {
	background-color: #666666;
	border: 1px solid #CCCCCC;
	border-collapse: collapse;
	color: #FFFFFF;
	padding: 5px;
	table-layout: auto;
	text-align: center;
	vertical-align: middle
}

table.navigation {
	border: 0px
}

td {
	color: #666;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px
}

textarea {
	border: 1px solid #B3B3B3
}

tr:nth-child(even) {
	background-color: #EFEFEF
}

tr:nth-child(odd) {
	background-color: #FFFFFF
}

ul li {
	margin: 0 0 0.25em 0;
	padding: 0
}